<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>CRUD Node js</title>
    <link rel="stylesheet"  href="https://bootswatch.com/4/lux/bootstrap.min.css" >
</head>
<body>

    <nav class="navbar navbar-light" style="background-color: #363847;">
        <a href="/" class="navbar-brand"><font color="#CF99E8" face="Candara">CRUD Nodejs Mysql </font></a>
        
        
    </nav>